body header .hero, main .sec-1 .row-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

body header .hero .content-left-side p, main .sec-1 .row-1 .content-right-side, main .sec-2 .cover-about-us .about-us p, main .sec-3 .cover-how-it-works .row .box p, main .sec-3 .take-to-the-top a {
  margin: 0;
  font-family: Fira Sans;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

body header .hero .content-left-side a, main .sec-1 .row-1 .content-left-side .left-side-info a {
  font-weight: bold;
  font-size: 12px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  text-decoration: none;
  color: black;
}

body header .content-right-side .learn-more, body header .content-right-side .join-now {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .content-right-side .learn-more p, body header .content-right-side .join-now p {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

body header .content-right-side .learn-more h4, body header .content-right-side .join-now h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 41px;
  margin: 0;
  color: #fff;
}

body header .hero .content-left-side, main .sec-1 .row-1 .content-left-side {
  text-align: left;
}

body header .hero .content-left-side .left-side-info, main .sec-1 .row-1 .content-left-side .left-side-info {
  width: 70%;
  margin: 50px auto 0 auto;
}

body header .hero .content-left-side .left-side-info h1, main .sec-1 .row-1 .content-left-side .left-side-info h1 {
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 0;
  font-family: "Frank Ruhl Libre", serif;
}

body header .hero .content-left-side {
  background-color: #c7ddea;
}

body header .hero .content-left-side h1 {
  margin: 20px 0 20px 0;
}

body header .hero .content-left-side p {
  margin-bottom: 30px;
}

body header .hero .content-left-side p .highlight {
  color: #fff;
}

body header .hero .content-left-side img {
  width: 286px;
  height: 279px;
  float: right;
  clear: right;
}

body header .hero h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 41px;
  margin: 0;
  color: #fff;
}

body header .content-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body header .content-right-side .learn-more {
  background-color: #f17949;
}

body header .content-right-side .join-now {
  background-color: #fab131;
}

body ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body ul li {
  list-style: none;
}

body ul li a {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-decoration: none;
  color: black;
}

main .sec-1 {
  height: 500px;
  background-color: #a9a19e;
  padding: 50px;
}

main .sec-1 .row-1 .content-left-side .left-side-info {
  margin-top: 20px;
  color: #fff;
}

main .sec-1 .row-1 .content-left-side .left-side-info h1 {
  margin: 20px 0 40px 0;
}

main .sec-1 .row-1 .content-right-side {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

main .sec-1 .row-2 {
  margin-top: 150px;
}

main .sec-1 .row-2 .cover-profile .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .sec-1 .row-2 .cover-profile .profiles .card {
  background-color: #fff;
  max-width: 240px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

main .sec-1 .row-2 .cover-profile .profiles .card h5 {
  color: rgba(0, 0, 0, 0.9);
  margin-top: 15px;
  margin-bottom: 10px;
}

main .sec-1 .row-2 .cover-profile .profiles .card .profile-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

main .sec-1 .row-2 .cover-profile .profiles .card .profile-info p {
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}

main .sec-1 .row-2 .cover-profile .profiles .card .profile-img-bc {
  height: 170px;
  border-radius: 5px;
  position: relative;
  margin-top: -50px;
}

main .sec-1 .row-2 .cover-profile .profiles .card .profile-img-bc .profile-img {
  width: 236px;
  height: 150px;
  position: absolute;
  left: 0px;
  bottom: 0;
  border-radius: 5px;
}

main .sec-1 .row-2 .cover-profile .profiles .profile-1 .profile-img-bc {
  background-color: #c7ddea;
}

main .sec-1 .row-2 .cover-profile .profiles .profile-1 .profile-img-bc .profile-img-1 {
  background-image: url(../assets/img/child.png);
  background-size: 100px 170px;
  background-repeat: no-repeat;
  background-position: center top;
}

main .sec-1 .row-2 .cover-profile .profiles .profile-2 .profile-img-bc {
  background-color: #fab131;
}

main .sec-1 .row-2 .cover-profile .profiles .profile-2 .profile-img-bc .profile-img-2 {
  background-image: url(../assets/img/adult.png);
  background-size: 82px 470px;
  background-repeat: no-repeat;
  background-position: center top;
}

main .sec-1 .row-2 .cover-profile .profiles .profile-3 .profile-img-bc {
  background-color: #f17949;
}

main .sec-1 .row-2 .cover-profile .profiles .profile-3 .profile-img-bc .profile-img-3 {
  background-image: url(../assets/img/old.png);
  background-size: 132px 420px;
  background-repeat: no-repeat;
  background-position: center top;
}

main .sec-2 {
  background-color: #fab131;
  padding: 50px;
}

main .sec-2 .cover-about-us {
  margin-top: 150px;
  margin-bottom: 50px;
}

main .sec-2 .cover-about-us .about-us {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main .sec-2 .cover-about-us .about-us h1 {
  color: #fff;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
}

main .sec-3 .cover-how-it-works .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: (300px)[2];
      grid-template-rows: repeat(2, 300px);
}

main .sec-3 .cover-how-it-works .row .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sec-3 .cover-how-it-works .row .box p {
  text-align: center;
  font-weight: bold;
}

main .sec-3 .cover-how-it-works .row .box h3 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: absolute;
  left: 0;
  margin-left: 20px;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.4);
}

main .sec-3 .cover-how-it-works .row .box-1 {
  background-color: #c7ddea;
}

main .sec-3 .cover-how-it-works .row .box-1 h2 {
  text-align: center;
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
}

main .sec-3 .cover-how-it-works .row .box-3 {
  background-color: #ebebeb;
}

main .sec-3 .cover-how-it-works .row .box-5 {
  background-color: #f17949;
}

main .sec-3 .take-to-the-top {
  padding: 30px;
  background-color: #a9a19e;
  text-align: center;
}

main .sec-3 .take-to-the-top a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

footer {
  height: 340px;
  background-color: #777574;
}
/*# sourceMappingURL=style.css.map */