@import "variables";
%content-left-side {
  text-align: left;
  .left-side-info {
    width: 70%;
    margin: 50px auto 0 auto;
    h1 {
      font-weight: 900;
      font-size: 45px;
      line-height: 100%;
    }
  }
}
body {
  max-width: 1000px;
  margin: auto;
  padding: 0;
  font-family: "Frank Ruhl Libre", serif;
  header {
    .hero {
      @extend %two-col;
      .content-left-side {
        @extend %content-left-side;
        background-color: #c7ddea;
        h1 {
          margin: 20px 0 20px 0;
        }
        p {
          @extend %main-text-prop;
        }
        img {
          width: 286px;
          height: 279px;
          float: right;
          clear: right;
        }
      }
      h4 {
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 41px;
        margin: 0;
        color: #fff;
      }
    }
    .content-right-side {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .learn-more {
        background-color: #f17949;
        @extend %box-model;
      }
      .join-now {
        background-color: #fab131;
        @extend %box-model;
      }
    }
  }
  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      list-style: none;
      a {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        text-decoration: none;
      }
    }
  }
}
main {
  .sec-1 {
    height: 500px;
    background-color: #a9a19e;
    padding: 50px;
    .row-1 {
      @extend %two-col;
      .content-left-side {
        @extend %content-left-side;
        .left-side-info {
          margin-top: 20px;
          color: #fff;
          h1 {
            margin: 20px 0 20px 0;
          }
          a {
            text-decoration: none;
            margin-top: 20px;
          }
        }
      }
      .content-right-side {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        @extend %main-text-prop;
      }
    }
    .row-2 {
      margin-top: 150px;
      .cover-profile {
        .profiles {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          .card {
            background-color: #fff;
            max-width: 240px;
            padding: 15px;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            h5 {
              color: rgba(0, 0, 0, 0.9);
              margin-top: 15px;
              margin-bottom: 10px;
            }
            .profile-info {
              width: 90%;
              margin-left: auto;
              margin-right: auto;
              p {
                font-size: 11px;
                font-weight: bold;
                font-style: normal;
                color: rgba(0, 0, 0, 0.4);
              }
            }
            .profile-img-bc {
              height: 170px;
              border-radius: 5px;
              position: relative;
              margin-top: -50px;
              .profile-img {
                width: 236px;
                height: 150px;
                position: absolute;
                left: 0px;
                bottom: 0;
                border-radius: 5px;
              }
            }
          }
          .profile-1 {
            .profile-img-bc {
              background-color: #c7ddea;
              .profile-img-1 {
                background-image: url(../assets/img/child.png);
                background-size: 100px 170px;
                background-repeat: no-repeat;
                background-position: center top;
              }
            }
          }
          .profile-2 {
            .profile-img-bc {
              background-color: #fab131;
              .profile-img-2 {
                background-image: url(../assets/img/adult.png);
                background-size: 82px 470px;
                background-repeat: no-repeat;
                background-position: center top;
              }
            }
          }
          .profile-3 {
            .profile-img-bc {
              background-color: #f17949;
              .profile-img-3 {
                background-image: url(../assets/img/old.png);
                background-size: 132px 420px;
                background-repeat: no-repeat;
                background-position: center top;
              }
            }
          }
        }
      }
    }
  }
  .sec-2 {
    background-color: #fab131;
    padding: 50px;
    .cover-about-us {
      margin-top: 150px;
      margin-bottom: 50px;
      .about-us {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        h1 {
          color: #fff;
          font-style: normal;
          font-weight: 900;
          font-size: 45px;
        }
        p {
          @extend %main-text-prop;
        }
      }
    }
  }
  .sec-3 {
    .cover-how-it-works {
      .row {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: repeat(2, 300px);
        .box {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            text-align: center;
            @extend %main-text-prop;
            font-weight: bold;
          }
          h3 {
            align-self: start;
            position: absolute;
            left: 0;
            margin-left: 20px;
            font-size: 35px;
            color: rgba(0, 0, 0, 0.4);
          }
        }
        .box-1 {
          background-color: #c7ddea;
          h2 {
            text-align: center;
            font-weight: 900;
            font-size: 45px;
            line-height: 100%;
          }
        }
        .box-3 {
          background-color: #ebebeb;
        }
        .box-5 {
          background-color: #f17949;
        }
      }
    }
    .take-to-the-top {
      padding: 30px;
      background-color: #a9a19e;
      text-align: center;
      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7);
        @extend %main-text-prop;
      }
    }
  }
}
footer {
  height: 340px;
  background-color: #777574;
}
